<div class="container margenes">
    <div class="row">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="usuario" name="usuario">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="contraseña" name="password">
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
            </form>
            {{#if error}}
            <p>Usuario y/o contraseña incorrectos</p>
            {{/if}}
        </div>
    </div>
</div>