<div class="container margenes">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="usuario">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="contraseña">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>

        </div>
    </div>
</div>