<div class="container margenes">
  <div class="row">
    <div class="col">
      <p class="text-end">Hola {{persona}} ! <a href="" class="btn btn-danger">Cerrar sesión <i
            class="fa-solid fa-right-from-bracket"></i></a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <h2>Listado de novedades</h2>
    </div>
    <div class="col-5">
      <a href="" class="btn btn-success">Nuevo <i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr class="table-dark">
              <th scope="col">#</th>
              <th scope="col">Títulos</th>
              <th scope="col" class="text-end">Acciones
              <th>
            </tr>
          </thead>
          <tbody>
            {{#each novedades}}
            <tr>
              <th scope="row">{{id}}</th> {{!-- nombre de la colum tabla --}}
              <td>{{titulo}}</td>
              <td class="text-end"><a href="" class="btn btn-secondary">Modificar <i class="fa-solid fa-pencil"></i></a>
                <a href="" class="btn btn-secondary">Eliminar <i class="fa-solid fa-trash-can"></i></a>
              </td>
            </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>