<div class="container margenes">
    <div class="row">
        <div class="col">
            <p class="text-end">Hola {{persona}} ! <a href="" class="btn btn-danger">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <h2>Listado de novedades</h2>
        </div>
        <div class="col-5">
           <a href="" class="btn btn-success">Nuevo <i class="fa-solid fa-plus"></i></a>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
   
  </tbody>
</table>
            </div>
        </div>
    </div>
</div>



