<div class="contacto"> <div>
            <h2>Contacto Rápido</h2>
            <form action="" method="" class="formulario">
                <p>
                    <label for="">Nombre</label>
                    <input type="text">
                </p>
                <p>
                    <label for="">email</label>
                    <input type="email">
                </p>
                <p><label for="">Teléfono</label>
                    <input type="text">
                </p>
                <p>
                    <label for="">Mensaje</label>
                    <textarea name="" id=""></textarea>
                </p>
                <p>
                    <input type="submit" value="Enviar">
                </p>
            </form>
        </div>
        <div class="datos">
            <h2>Otras vías de comunicación</h2>
            <p>También puede contactarse con nosotros usando los siguientes medios:</p>
            <ul><li>Teléfono: 123345</li>
            <li>Mail:</li>
            <li>Instagram:</li>
            <li>facebook</li>
            <li>Twitter</li></ul>
        </div></div>