 <section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem blanditiis veritatis perspiciatis. Cumque
                magni quod facilis? Culpa voluptas accusantium corporis corrupti mollitia, fugit laboriosam! Aliquid
                illum harum tempora sint molestias.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, earum. Illum maiores distinctio, autem
                sit eligendi fuga ratione nesciunt pariatur eos dicta fugiat nam reprehenderit voluptate. Velit ex
                libero ad!</p>
        </section>
        <section class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gómez">
                    <H5>Juan Gómez</H5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi laboriosam alias facilis fuga
                        obcaecati, pariatur amet repudiandae suscipit quae aliquid aut possimus aspernatur officia
                        iusto, eos voluptatibus tempora saepe vero.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Diana Reyes">
                    <H5>Diana Reyes</H5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi laboriosam alias facilis fuga
                        obcaecati, pariatur amet repudiandae suscipit quae aliquid aut possimus aspernatur officia
                        iusto, eos voluptatibus tempora saepe vero.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Roberto Zavala">
                    <H5>Roberto Zavala</H5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi laboriosam alias facilis fuga
                        obcaecati, pariatur amet repudiandae suscipit quae aliquid aut pos.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Sandra Mastoloi">
                    <H5>Sandra Mastroloi</H5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi laboriosam alias facilis fuga
                        obcaecati, pariatur amet repudiandae suscipit quae aliquid aut possimus aspernatur officia
                        iusto, eos voluptatibus tempora saepe vero.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Luciano Gomez">
                    <H5>Luciano Gómez</H5>
                    <h6>Gerente de Logística</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi laboriosam alias facilis fuga
                        obcaecati, pariatur amet repudiandae suscipit quae aliquid aut possimus aspernatur officia
                        iusto, eos voluptatibus tempora saepe vero.</p>
                </div>
            </div>
        </section>
