 <h2>Novedades</h2>
      {{#each novedades}}
        <div>
            <h3>{{titulo}}</h3>
            <h4>{{subtitulo}}</h4>
            <p>{{cuerpo}}</p>
            <hr><!-- esto genera una línea, representa un cambio de tema entre párrafos -->
        </div>
      {{/each }}